@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: #565784;
  color: #EBEBEB;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
  font-family: 'Quicksand', sans-serif;
}
h1 {

  font-size: 5em;
}

h2 {
	font-size: 3em;
	color: #EF767A;
}

h3{
	color: #EF767A;
}

h4 {
	font-size: 1.5em;
	margin-top: 0;
}

p{
	color:#EF767A;
}

dt {
	font-size: 2em;
	font-weight: bold;
}
a{
	color: white;
}
a:hover{
	color: #FAA916;
}