@charset "utf-8";
/* CSS Document */

body{
	background-color:#242323;
	color: #EBEBEB;
 	margin: 0;
	padding: 50px;
	line-height: 1.75;
	font-family: 'Quicksand', sans-serif;
}
h2{
	color: orange;
}
table{
	width: 100%;
	border-collapse: collapse;
}
th{
	color: aquamarine;
	padding: 20px;
	border: 1px #F6E998 solid;
}
td{
	padding: 5px 20px;
	text-align: left;
	border: 1px #F6E998 solid;
		
}